
<section class="ten columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Master of Computer Applications (MCA)</h1>
            <span>RGPV</span>
            <span><address><a href="https://goo.gl/maps/jthbmRRby9w" target="_blank"> Bhopal, INDIA</a></address><time>2008 to 2011</time></span>
        </header>
        <p>
            The MCA program focuses on providing a sound theoretical background as well as good practical exposure to students in the relevant areas. It is intended to provide a modern, industry-oriented education in applied computer science.
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelor of Computer Application (BCA)</h1>
            <span>Saifia Science College</span>
            <span><address><a href="https://goo.gl/maps/jthbmRRby9w" target="_blank">Bhopal, INDIA</a></address><time>2005 to 2008</time></span>
        </header>
    </article>
</section>

