<div class="row">
        <header class="two columns">
            <p onclick="window.print()"><a target="_blank"><i class="fa fa-print"></i> Print</a> <br/></p>
           
            <p>
                <a href="{{ site.email_full }}"><i class="fa fa-envelope">{{ E-mail}}</i> E-mail</a><br/>
            </p>
            <p><a href="#" target="_blank"><i class="fa fa-skype"></i>shahid.khans@outlook.com</a></p>
            <p><a href="https://github.com/{{ site.github }}" target="_blank"><i class="fa fa-github"></i> Github</a> </p>
            <p><a href="https://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></p>
            <p><a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i> Linkedin</a></p>
            <p><a href="https://facebook.com/{{ site.facebook }}" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></p> 

</header>
<section class="nine columns">
    <h1>_Work Experience</h1>
    <article>
        <header>
            <h1>Sr. Software Engineer</h1>
            <span><a href="https://www.ge.com/digital/" target="_blank">GE (General Electric) Digital</a></span>
            <span><address>Bengaluru | INDIA</address><time>Jan 2017 - Present</time></span>
        </header>
        <p>Working as senior software developer responsible for thinking a new idea to implementation using SAP Hybris B2B and DataHub. </p>
        
    </article>
    <article>
        <header>
            <h1>Senior Associate Technology</h1>
            <span><a href="https://www.sapientrazorfish.com" target="_blank">SapientRazorFish (formerly known as SapientNitro)</a></span>
            <span><address>Bengaluru | INDIA</address><time>Oct 2016 - Dec 2016</time></span>
        </header>
        <p>Senior Associate Technology at SapientNitro. Involved in the design and development of applications. Skilled in SAP Hybris, Spring, Adobe AEM, Java/J2EE, AWS.</p>
        
    </article>
    
    <article>
        <header>
            <h1>Software Engineer</h1>
            <span><a href="http://www.thbs.com" target="_blank"> Torry Harris Business Solutions</a></span>
            <span><address><a href="https://goo.gl/maps/mhzhCMWPQXK2" target="_blank">Bengaluru | INDIA</a></address><time>Jun 2015 - Sep 2016</time></span>
        </header>
        <p> Development, enhancement and implementng new features for e-commerce site <a href="http://www.ee.co.uk" target="_blank">www.ee.co.uk</a> based on Hybris and Adobe AEM.</p>
        
    </article>
     <article>
        <header>
            <h1>Consultant</h1>
            <span><a href="http://www.ee.co.uk" target="_blank">EE</a></span>
            <span><address><a href="https://goo.gl/maps/7odsgR11uEC2" target="_blank">Hatfield,London | UK</a></address><time>May 2014 - May 2015</time></span>
        </header>
            <p>Developed the data models and customized the Hybris management console (HMC) as per the application requirements.
            Creation of WCMS Component, impex, and Data Feed through Cron Jobs , Solr configurations.
            Involved in writing controllers, facades, service and DAO layers, 
            Hybris integration  with external CMS Adobe CQ5 for UK biggest telecom client EE using Hybris and AEM CQ5.
            </p>

    </article>
        <article>
        <header>
            <h1>Associate Software Engineer</h1>
            <span><a href="http://www.thbs.com" target="_blank"> Torry Harris Business Solutions</a></span>
            <span><address><a href="https://goo.gl/maps/mhzhCMWPQXK2" target="_blank">Bengaluru | INDIA</a></address><time>Jan 2012 - Apr 2014</time></span>
        </header>
        <p> Requirement understanding through TAD, BRS documents , development of SOAP webservices based on SOA (Service Oriented Architecture) principle.
            Project high level(HLD) and low level design (LLD) using enterprise architect(EA). 
            Followed the contract first approach to create WSDL, XSD files for SOAP webservices.
            Code implementation using Apache CXF, Springs, used Junit and easymock for unit testing, 
            code buid using apache Maven.</p>
        
        </article>
</section>
</div>
