<div class="row">
    <header class="two columns">
 <img src="{{ site.baseurl }}static/img/profile.png" class="me">
        <h1>{{ site.name }}</h1>
     

</header>
<section class="nine columns">
    <h1>_Something about me ?</h1>
        <p>
            I am an extraordinary lucky person, doing what I love best in the world. Curious mind and an avid researcher who is passionate about learning and exploring the latest technologies and never hesitate to applying them .
            7+ years of  SAP Hybris , AWS Cloud and JAVA/ Spring experience. 
            Currently involved in implementation of SAP Hybris e-commerce solutions.
            Experience in implementation of over 4+ in SAP Hybris.
        </p>

</section>

    <section class="six columns"> <em>"You must do the thing, you think you cannot do"</em>
        <article><small>Eleanor Roosevelt</small></article>
    </section>
</div>
    
