<div class="row">
    <header class="two columns">
 <img src="{{ site.baseurl }}static/img/profile.png" class="me">
        <h1>{{ site.name }}</h1>
     

</header>
<section class="nine columns">
    <h1>Something about me ?</h1>
        <p>
            I am an extraordinary lucky person, doing what i love best in the world.
            Curious mind and an avid researcher who is passionate about learning and exploring the latest technologies to get the hands dirty.
            4+ years of JAVA/J2EE experience working on high availability systems and e-commerce solutions. 
            Currently involved in implementation of SAP Hybris e-commerce solutions for well known European client.
            Experience in implementation of over 2+ in SAP Hybris and Adobe AEM/CQ5.
        </p>

</section>

    <section class="six columns"> <em>"You must do the thing, you think you cannot do"</em>
        <article><small>Eleanor Roosevelt</small></article>
    </section>
</div>
    